body {
  background-color: rgb(107, 107, 165);
  text-align: center;
}

.well {
  background-color: rgb(255, 255, 255);
  }

a {
  font-size: xx-large;
  font-weight: bolder;
}

.well {
  display: none;
}

#roll {
  display: none;
}

#currentScoreArea {
  display: none;
}

.player-selected{
  border:green;
  border-style: solid;
}

#hold {
  display: none;
}

#trueGameReset{
  display: none;
}